<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "About Me") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body>
<div id="me-wrapper" class="hidden">
  <div class="me-panel" id="me-info">
    Hi, my name is Kavin Srithongkham. As a Computer Science undergrad at the University of California,
    San Diego, I often find myself quickly learning new skills and concepts everyday. When I'm not
    coding for assignments or studying for tests, you can find me wandering the virtual worlds of video games.
    Sometimes I even take the adventure out of the virtual world and dabble in Dungeons & Dragons with a
    couple of friends on a late, pizza-filled night. I hope to able to gain some experience at your company
    in the foreseeable future.
  </div>
  <div class="me-panel" id="me-skills">
    <p class="skills-text">
      <b>Languages</b>: Python, Java, Javascript, C++, C, Ruby, HTML/CSS/SCSS, SQL, ReactJS<br>
      <b>Web Frameworks</b>: Django, Rails<br>
      <b>Misc</b>: Git, PostgreSQL
    </p>
  </div>
  </div>
</body>
</html>