<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "About Me") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body>
<div id="me-wrapper" class="hidden">
  <div class="me-panel" id="me-info">
    Hi, my name is Kavin Srithongkham. I graduated from the University of California, San Diego with a BS Computer
    Science degree. I have a special place in my heart for game design and development but my love of programming
    has lead me to explore other areas of computer science as well, such as web development and virtual reality.
    I'm always looking for new experiences so whether I'm travelling the world and meeting new people or studying
    up on a new programming language, I hope I can grow as both a person and a professional with each new
    opportunity that I can get my hands on.
  </div>
  <div class="me-panel" id="me-skills">
    <p class="skills-text">
      <b>Languages</b>: Python, Java, Javascript, C++, C, C#, Ruby, HTML/CSS/SCSS, SQL, ReactJS<br>
      <b>Frameworks</b>: Django, Rails, Unity<br>
      <b>Misc</b>: Git, PostgreSQL
    </p>
    Background credited to: 1041uuu
  </div>
  </div>
</body>
</html>