<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Education") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body>
  <div class="mobile-list">
    <button id="167" class="list-item">Intro to Computer Graphics</button>
    <button id="120" class="list-item">Principles of Operating Systems</button>
    <button id="100" class="list-item">Advanced Data Structures</button>
    <button id="165" class="list-item">Computational Linguistics</button>
    <button id="110" class="list-item">Software Engineering</button>
    <button id="30" class="list-item">Systems Programming</button>
  </div>
  <div class="left-list">
    <div id="titleDiv">
      Wondering what my classes are about?
    </div>
    <button id="167" class="list-item">Intro to Computer Graphics</button>
    <button id="120" class="list-item">Principles of Operating Systems</button>
    <button id="100" class="list-item">Advanced Data Structures</button>
    <button id="165" class="list-item">Computational Linguistics</button>
    <button id="110" class="list-item">Software Engineering</button>
    <button id="30" class="list-item">Computer Organization and Systems Programming</button>
  </div>
  <div class="info-panel">
    <div id ="p167" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 167: Intro to Computer Graphics</p>
        <table class="info-table">
          <tr>
            <td>&bull; World/Camera/Object Coordinates</td>
            <td>&bull; Orthographic/Perspective Projection</td>
          </tr>
          <tr>
            <td>&bull; Blinn-Phong Shading Model</td>
            <td>&bull; Directional/Point/Spot lighting</td>
          </tr>
          <tr>
            <td>&bull; GLSL Shaders</td>
            <td>&bull; Scene Graphs</td>
          </tr>
          <tr>
            <td>&bull; Texture Mapping</td>
            <td>&bull; Bilinear Interpolation</td>
          </tr>
          <tr>
            <td>&bull; Mipmaps</td>
            <td>&bull; Bezier Curves/Surfaces</td>
          </tr>
          <tr>
            <td>&bull; Reflection Mapping</td>
            <td>&bull; OpenGL</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p120" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 120: Principles of Operating Systems</p>
        <table class="info-table">
          <tr>
            <td>&bull; Multiprogramming</td>
            <td>&bull; The Kernel</td>
          </tr>
          <tr>
            <td>&bull; Threads(User/Kernel)</td>
            <td>&bull; Process States</td>
          </tr>
          <tr>
            <td>&bull; OSI Reference Model</td>
            <td>&bull; Synchronization</td>
          </tr>
          <tr>
            <td>&bull; Mutual Exclusion</td>
            <td>&bull; Semaphores</td>
          </tr>
          <tr>
            <td>&bull; SPN,SRT,Multilevel Feedback Queues</td>
            <td>&bull; Page Replacement(Opt,LRU,Clock)</td>
          </tr>
          <tr>
            <td>&bull; Inter-process Communication</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p100" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 100: Advanced Data Structures</p>
        <table class="info-table">
          <tr>
            <td>&bull; Binary Search Trees</td>
            <td>&bull; Huffman's algorithm</td>
          </tr>
          <tr>
            <td>&bull; Tries</td>
            <td>&bull; Depth First Search</td>
          </tr>
          <tr>
            <td>&bull; Breadth First Search</td>
            <td>&bull; Hash Tables</td>
          </tr>
          <tr>
            <td>&bull; Dijkstra's Algorithm</td>
            <td>&bull; Disjoint Sets</td>
          </tr>
          <tr>
            <td>&bull; Red-Black Trees</td>
            <td>&bull; AVL Trees</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p165" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">LIGN 165: Computational Linguistics</p>
        <table class="info-table">
          <tr>
            <td>&bull; Syntax and Context Free Grammar</td>
            <td>&bull; Python Natural Language Toolkit</td>
          </tr>
          <tr>
            <td>&bull; Finite-State Inducers</td>
            <td>&bull; Naive Bayes Theory</td>
          </tr>
          <tr>
            <td>&bull; N-gram Modeling</td>
            <td>&bull; Hash Tables</td>
          </tr>
          <tr>
            <td>&bull; Part of Speech Tagging</td>
            <td>&bull; Disjoint Sets</td>
          </tr>
          <tr>
            <td>&bull; Finite-State Automata</td>
            <td>&bull; CFG Parsing</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p110" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 110: Software Engineering</p>
        <table class="info-table">
          <tr>
            <td>&bull; Test Driven Development</td>
            <td>&bull; Agile Software Development</td>
          </tr>
          <tr>
            <td>&bull; Layered Architecture</td>
            <td>&bull; Model-View-Controller</td>
          </tr>
          <tr>
            <td>&bull; UML Diagrams</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p30" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 30: Computer Organization and Systems Programming</p>
        <table class="info-table">
          <tr>
            <td>&bull; C++ Memory Management(Mem leaks)</td>
            <td>&bull; Big Endian/Little Endian</td>
          </tr>
          <tr>
            <td>&bull; Two's Compliment</td>
            <td>&bull; ARM Assembly</td>
          </tr>
          <tr>
            <td>&bull; Binary I/O</td>
            <td>&bull; Hardware Stack</td>
          </tr>
          <tr>
            <td>&bull; C Program Memory Map</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>