<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Education") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body id="genPage">
  <div id="titleDiv">
    <p>
      Hi, I am currently a 3rd year Computer Science undergraduate at the University
      of California, San Diego.<br>Wondering what that means? Feel free to take a look at some classes
      I've taken below!
    </p>
  </div>
  <div id="panel-container" class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        CSE 120: Principles of Operating Systems
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">
          <ul class="infoList">
            <li>Multiprogramming</li>
            <li>The Kernel</li>
            <li>Threads(User/Kernel)</li>
            <li>Process States</li>
            <li>Scheduling Algorithms(SPN,SRT,Multilevel Feedback Queues,etc)</li>
            <li>Synchronization</li>
            <li>Mutual Exclusion</li>
            <li>Semaphores</li>
            <li>Inter-process Communication</li>
            <li>Page Replacement Algorithms(Opt,LRU,Clock)</li>
            <li>OSI Reference Model</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        CSE 100: Advanced Data Structures
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">
          <ul class="infoList">
            <li>Binary Search Trees</li>
            <li>Huffman's algorithm</li>
            <li>Tries</li>
            <li>Depth First Search, Breadth First Search</li>
            <li>Hash Tables</li>
            <li>Dijkstra's Algorithm</li>
            <li>Disjoint Sets</li>
            <li>Red-Black Trees</li>
            <li>AVL Trees</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        CSE 100: Advanced Data Structures
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">
          <ul class="infoList">
            <li>Binary Search Trees</li>
            <li>Huffman's algorithm</li>
            <li>Tries</li>
            <li>Depth First Search, Breadth First Search</li>
            <li>Hash Tables</li>
            <li>Dijkstra's Algorithm</li>
            <li>Disjoint Sets</li>
            <li>Red-Black Trees</li>
            <li>AVL Trees</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        LIGN 165: Computational Linguistics
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">
          <ul class="infoList">
            <li>Finite-State Automata</li>
            <li>Python Natural Language Toolkit</li>
            <li>Finite-State Inducers</li>
            <li>Naive Bayes Theory</li>
            <li>N-gram Modeling</li>
            <li>Part of Speech Tagging</li>
            <li>Syntax and Context Free Grammar</li>
            <li>CFG Parsing</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        CSE 110: Software Engineering
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">
          <ul class="infoList">
            <li>UML Diagrams</li>
            <li>Agile Software Development</li>
            <li>Layered Architecture</li>
            <li>Model-View-Controller</li>
            <li>Test Driven Development</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        CSE 30: Computer Organization and Systems Programming
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">
          <ul class="infoList">
            <li>Two's Compliment</li>
            <li>Big Endian/Little Endian</li>
            <li>C++ Memory Management(Mem leaks)</li>
            <li>ARM Assembly</li>
            <li>Binary I/O</li>
            <li>Hardware Stack</li>
            <li>C Program Memory Map</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>