<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Education") %>
  <%= javascript_include_tag('education') %>
</head>
<body>
  <div id="panel-container" class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">1<br>2<br>3<br></div>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">test</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">test</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">test</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <div class="showInfoBtn glyphicon glyphicon-question-sign"></div>
        <div class="info well well-sm collapse">test</div>
      </div>
    </div>
  </div>
</body>
</html>