<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Education") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body id="home">
  <div id="gradient"></div>
  <div class="left-list">
    <div id="titleDiv">
      Wondering what my classes are about?
    </div>
    <button id="120" class="list-item">Principles of Operating Systems</button>
    <button id="100" class="list-item">Advanced Data Structures</button>
    <button id="165" class="list-item">Computational Linguistics</button>
    <button id="110" class="list-item">Software Engineering</button>
    <button id="30" class="list-item">Computer Organization and Systems Programming</button>
  </div>
  <div class="info-panel">
    <div id ="p120" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 120: Principles of Operating Systems</p>
        <table class="info-table">
          <tr>
            <td>-Multiprogramming</td>
            <td>-The Kernel</td>
          </tr>
          <tr>
            <td>-Threads(User/Kernel)</td>
            <td>-Process States</td>
          </tr>
          <tr>
            <td>-OSI Reference Model</td>
            <td>-Synchronization</td>
          </tr>
          <tr>
            <td>-Mutual Exclusion</td>
            <td>-Semaphores</td>
          </tr>
          <tr>
            <td>-Scheduling Algorithms(SPN,SRT,Multilevel Feedback Queues,etc)</td>
            <td>-Page Replacement Algorithms(Opt,LRU,Clock)</td>
          </tr>
          <tr>
            <td>-Inter-process Communication</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p100" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 100: Advanced Data Structures</p>
        <table class="info-table">
          <tr>
            <td>-Binary Search Trees</td>
            <td>-Huffman's algorithm</td>
          </tr>
          <tr>
            <td>-Tries</td>
            <td>-Depth First Search</td>
          </tr>
          <tr>
            <td>-Breadth First Search</td>
            <td>-Hash Tables</td>
          </tr>
          <tr>
            <td>-Dijkstra's Algorithm</td>
            <td>-Disjoint Sets</td>
          </tr>
          <tr>
            <td>-Red-Black Trees</td>
            <td>-AVL Trees</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p165" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">LIGN 165: Computational Linguistics</p>
        <table class="info-table">
          <tr>
            <td>-Finite-State Automata</td>
            <td>-Python Natural Language Toolkit</td>
          </tr>
          <tr>
            <td>-Finite-State Inducers</td>
            <td>-Naive Bayes Theory</td>
          </tr>
          <tr>
            <td>-N-gram Modeling</td>
            <td>-Hash Tables</td>
          </tr>
          <tr>
            <td>-Part of Speech Tagging</td>
            <td>-Disjoint Sets</td>
          </tr>
          <tr>
            <td>-Syntax and Context Free Grammar</td>
            <td>-CFG Parsing</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p110" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 110: Software Engineering</p>
        <table class="info-table">
          <tr>
            <td>-UML Diagrams</td>
            <td>-Agile Software Development</td>
          </tr>
          <tr>
            <td>-Layered Architecture</td>
            <td>-Model-View-Controller</td>
          </tr>
          <tr>
            <td>-Test Driven Development</td>
          </tr>
        </table>
      </div>
    </div>
    <div id ="p30" class="panel panel-default">
      <div class="panel-body">
        <p class="panel-title">CSE 30: Computer Organization and Systems Programming</p>
        <table class="info-table">
          <tr>
            <td>-Two's Compliment</td>
            <td>-Big Endian/Little Endian</td>
          </tr>
          <tr>
            <td>-C++ Memory Management(Mem leaks)</td>
            <td>-ARM Assembly</td>
          </tr>
          <tr>
            <td>-Binary I/O</td>
            <td>-Hardware Stack</td>
          </tr>
          <tr>
            <td>-C Program Memory Map</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>