<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Education") %>
  <%= javascript_include_tag('education') %>
</head>
<body>
  <div id="panel-container" class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <button class="showInfoBtn">Click me</button>
        <p class="info collapse">test</p>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <button class="showInfoBtn">Click me</button>
        <p class="info collapse">test</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <button class="showInfoBtn">Click me</button>
        <p class="info collapse">test</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <button class="showInfoBtn">Click me</button>
        <p class="info collapse">test</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
        <button class="showInfoBtn">Click me</button>
        <p class="info collapse">test</p>
      </div>
    </div>
  </div>
</body>
</html>