<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "Home") %>
    <%= javascript_include_tag('static_pages_js') %>
  </head>
  <body id="home">
    <div id="black"></div>
    <div id="home-title">
      <p id="home-title-text">
        Hi, I'm Kavin Srithongkham
      </p>
    </div>
    <div id="home-main">
      <div id="home-info">
        <p id="home-text" class="text">
          UCSD undergrad, aspiring programmer, night owl, avid gamer, and hopefully a future addition to your company
        </p>
      </div>
      <div id="home-resume">
        <p id="home-resume-text" class="text">
          Don't have my resume yet?
        </p>
      </div>
      <a class="download" href="assets/KavinSrithongkhamResume.pdf" download="KavinSrithongkhamResume.pdf">
        Download it Here
      </a>
    </div>
  </body>
</html>