<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "Home") %>
    <%= javascript_include_tag('static_pages_js') %>
  </head>
  <body id="home">
    <div id="gradient">
      <div id="black"></div>
    </div>
    <div id="home-title">
      <p id="home-title-text">
        Hi, I'm Kavin Srithongkham
      </p>
    </div>
    <div id="home-main">
      <div id="home-info">
        <p id="home-text" class="text">
          Please feel free to check out extra info about my work/projects or read a little bit about me personally!
        </p>
      </div>
      <div id="home-resume">
        <p id="home-resume-text" class="text">
          Don't have my resume yet?
        </p>
      </div>
      <button class="download">Download it Here</button>
    </div>
  </body>
</html>