<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "Home") %>
    <%= javascript_include_tag('static_pages_js') %>
  </head>
  <body id="home">
    <div id="gradient">
      <div id="black"></div>
    </div>

  </body>
</html>