<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Projects") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body>
  <div class="mobile-list">
    <button id="hitMeUp" class="list-item proj">HitMeUp</button>
    <button id="personal" class="list-item proj">Personal Website</button>
  </div>
  <div class="left-list">
    <div id="titleDiv">
      See what I've been tinkering with!
    </div>
    <button id="hitMeUp" class="list-item proj">HitMeUp</button>
    <button id="personal" class="list-item proj">Personal Website</button>
  </div>
  <div class="info-panel">
    <div id="phitMeUp" class="panel panel-default">
      <div class="panel-body pwPanel">
        <h4 class="pwHeader">HitMeUp
          <a href="http://sudowoodo-hitmeup.herokuapp.com" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
          <p></p>
        </h4>
        <div class="pwBody">
          <div id="text-hitmeupbtn" class="pwInfo">
            <div class="infoP">
              Having trouble organizing those huge social outings and family reunions or just want to see who's
              free for some quick lunch? HitMeUp allows you to maintain a calendar of your personal events and
              compares them to those in your friends list to find optimal free time! Check out your friends tab
              to get a quick checkup on who's free at the moment or visit their profile page to see their
              extensive calendar. Also mobile friendly!<br>
            </div>
            <div class="techP collapse">
              <span class="pill">Web Framework</span> Django<br><br>
              <span class="pill">Front-end</span> HTML/SCSS, Jinja, ReactJS, Javascript, Bootstrap<br><br>
              <span class="pill">Back-end</span> Python, PostgreSQL<br><br>
              <span class="pill">Misc</span> Git, PyCharm
            </div>
          </div>
          <div class="pwImg">
            <img alt="HitMeUpPic" src="assets/HitMeUp.jpg"/>
          </div>
        </div>
        <button type="button" id="hitmeupbtn" class="projectBtn">See the Tech</button>
      </div>
    </div>
    <div id="ppersonal" class="panel panel-default">
      <div class="panel-body pwPanel">
        <h4 class="pwHeader"><p>My Personal Site</p></h4>
        <div class="pwBody">
          <div id="text-personalbtn" class="pwInfo">
            <div class="infoP">
              My personal website for employment and resume purposes ( you're on it right now! ).
              Feel free to browse the site for information about me or to find extra info on things
              I put on my resume!<br>
            </div>
            <div class="techP collapse">
              <span class="pill">Web Framework</span> Ruby on Rails<br><br>
              <span class="pill">Front-end</span> HTML/SCSS, Javascript, JQuery, Bootstrap<br><br>
              <span class="pill">Back-end</span> Ruby<br><br>
              <span class="pill">Misc</span> Git, Rubymine
            </div>
          </div>
          <div class="pwImg">
            <img alt="My Personal Site" src="assets/personal.jpg"/>
          </div>
          <button type="button" id="personalbtn" class="projectBtn">See the Tech</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>