<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Work Experience") %>
  <%= javascript_include_tag('static_pages_js') %>
</head>
<body>
  <div class="left-list">
    <div id="titleDiv">
      Check out my job experience!
    </div>
    <button id="isa" class="list-item">ISA Japan</button>
  </div>
  <div class="info-panel">
    <div id="pisa" class="panel panel-default">
      <div class="panel-body pwPanel">
        <h4 class="pwHeader">ISA Japan
          <a class="job-link" href="http://www.isa.co.jp/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
          <p class="job-name">Discussion Leader Intern</p>
        </h4>
        <p class="date">Aug. 2015</p>
        <div class="pwBody">
          <div class="pwInfo">
            <ul class="job-ul">
              <li>
                Supported Japanese students at Izumigaoka High School in Kanazawa, Japan in developing and
                utilizing English to convey opinions and ideas
              </li>
              <li>
                Supervised and participated in small group discussions and projects
              </li>
              <li>
                Encouraged Japanese students to develop international perspectives and understandings
              </li>
            </ul>
          </div>
          <div class="pwImg">
            <img alt="ISA Japan" src="assets/ISA.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>