// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@-moz-keyframes panelLoad {
  0% {
    -moz-transform: translateY(100px);
    -moz-opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -moz-opacity: 1;
  }
}
@-webkit-keyframes panelLoad {
  0% {
    -webkit-transform: translateY(100px);
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
}
@keyframes panelLoad {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

.navbar {
  margin-bottom: 10px;
  border-bottom: 1px dimgrey solid;
  background-color: steelblue;
  box-shadow: 0 10px 8px -8px;
  -webkit-box-shadow: 0 10px 8px -8px;
  -moz-box-shadow: 0 10px 8px -8px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.2em;
}

.navbar-default .navbar-nav > li.active > a {
  background-color: white;
  color: steelblue;
}

.panel {
  -moz-animation-name: panelLoad;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.9s;

  -webkit-animation-name: panelLoad;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.9s;

  animation-name: panelLoad;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.9s;
}

.showInfoBtn {
  float: right;
  cursor: pointer;
}

.info {
  margin-bottom: 0px;
  margin-top: 15px;
  overflow: auto;
}

.infoList li {
  float: left;
  width: 50%;
}

#education {
  background-image: url("UCSD.jpg");
  background-size: cover;
}

#home {
  background-image: url("Home1.gif");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center top;
}

#gradient {
  margin-top: -70px;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#titleDiv {
  text-align: center;
  color: white;
  font-family: Verdana, Arial;
  border-bottom: 2px white solid;
  margin: 2px 3em 1em 3em;
}

.projectHeader {
  text-align: center;
  border-bottom: 2px darkgrey solid;
  padding-bottom: 2px;
  margin-bottom: 0;
}

.projectPanel {
  padding-top: 1px;
}

.projectInfo {
  width: 40%;
  display: inline-block;
  word-wrap: break-word;
  padding-top: 2px;
  padding-left: 5px;
}

.projectImg {
  width: 60%;
  display: inline-block;
  float: left;
  border-right: 2px darkgrey solid;
}

img {
  max-width: 100%;
}

.projectBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  display:inline;
}

.projectBody {
  position: relative;
  overflow: auto;
}

.fa-link {
  color: dodgerblue;
}


