// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  background-color: black;
  background-image: url("Home3.gif");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center top;
}

.navbar {
  margin-bottom: 10px;
  background-color:rgba(0,0,0,0);
}

.navbar-default {
  border: none;
}
.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #0097a7;
  font-size: 1.1em;
  background-color:rgba(0,0,0,0.8);
  border: 2px solid #0097a7;
  border-top : 0px;
  border-radius: 0 0 4px 4px;
  font-family: 'Raleway', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: 0;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: white;
  color: #0097a7;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.navbar-default .navbar-nav > li.active > a {
  background-color: white;
  color: #0097a7;
  outline: 0;
}

.showInfoBtn {
  float: right;
  cursor: pointer;
}

.info {
  margin-bottom: 0px;
  margin-top: 15px;
  overflow: auto;
}

td {
  vertical-align: top;
}

#gradient {
  width: 100vw;
  height: 100vh;
  margin-top: -70px;
  position: relative;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%,
          rgba(0,0,0,1) 15%, rgba(0,0,0,0) 25%,
          rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%,
          rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,
          rgba(0,0,0,1) 15%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,
          rgba(0,0,0,0) 75%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,
          rgba(0,0,0,1) 15%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,
          rgba(0,0,0,0) 75%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
                  startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#black {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

#home-main {
  display: none;
  border-radius: 1.5px;
  position: absolute;
  bottom: 1em;
  left: 17.5%;
}

#home-title {
  display: none;
  border-radius: 1.5px;
  position: absolute;
  top: 5em;
  left: 17.5%;
  background-color:rgba(0,0,0,0.5);
}


#home-resume {
  border-radius: 1.5px;
  display: inline-block;
  padding-bottom: 0px;
  background-color:rgba(0,0,0,0.5);
}

#home-info {
  border-radius: 1.5px;
  background-color:rgba(0,0,0,0.5);
}

.text {
  padding: 10px 10px 10px 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.05vw;
}

#home-resume-text {
  padding-bottom: 0px;
}

#home-title-text {
  padding: 10px 10px 0 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7vw;
}

.download {
  font-size: 1.05vw;
  margin-left: 5px;
  border: 2px solid #0097a7;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-family: 'Raleway', sans-serif;
  background-color:rgba(0,0,0,0.7);
  color: #0097a7;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.download:hover {
  background-color: #0097a7;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#titleDiv {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.1vw;
  border-bottom: 2px white solid;
  margin: 1vw 1vw 1vw 1vw;
}

.pwHeader {
  text-align: center;
  border-bottom: 2px darkgrey solid;
  padding-bottom: 2px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

.pwPanel {
  padding-top: 1px;
}

.pwInfo {
  width: 40%;
  display: inline-block;
  word-wrap: break-word;
  padding-top: 2px;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}

.pwImg {
  width: 60%;
  display: inline-block;
  float: left;
  border-right: 2px darkgrey solid;
}

img {
  max-width: 100%;
}

.projectBtn {
  display: block;
  float: right;
}

.pwBody {
  position: relative;
  overflow: auto;
}

.fa-link {
  color: dodgerblue;
}

.left-list {
  display: none;
  position: absolute;
  top: 0;
  width: 15%;
  float: left;
  text-align: center;
}

.list-item {
  padding: 10px 0 10px 0;
  width: 80%;
  font-size: 1vw;
  margin-left: 5px;
  margin-bottom: 10px;
  border: 2px solid #0097a7;
  border-radius: 4px;
  display: inline-block;
  //padding: 10px 10px 10px 10px;
  font-family: 'Raleway', sans-serif;
  background-color:rgba(0,0,0,0.7);
  color: #0097a7;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.list-item:hover, .active-btn{
  background-color: #0097a7;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.info-panel {
  position: absolute;
  top: 20%;
  left: 24%;
  width: 50%;
}

.info-table {
  border: 0px;
  width: 100%;
}

.panel-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3vw;
}

.panel {
  display: none;
  font-size: 1.1vw;
  color: white;
  font-family: "Raleway", sans-serif;
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0.7);
}

.date {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 14px 16px 0 0;
}

.job-ul {
  padding-left: 15px;
}

#me-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.me-panel {
  display: inline-block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 1.5px;
  position: relative;
  top: 6em;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color:rgba(0,0,0,0.7);
  font-size: 1.2vw;
  width: 50%;
  left: 25%;
}

#me-skills {
  //text-align: left;
  margin-top: 9em;
  font-size: 1vw;
}

