// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@media only screen and (min-width: 760px) {
  body {
    padding-top: 70px;
    background-color: black;
    background-image: url("Home3.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
  }

  .navbar {
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-default {
    border: none;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

  .navbar-default .navbar-nav > li > a {
    color: #0097a7;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0097a7;
    border-top: 0px;
    border-radius: 0 0 4px 4px;
    font-family: 'Raleway', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    -mozkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: 0;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: #0097a7;
    -webkit-transition-duration: 0.4s; /* Safari */
    -mozkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .navbar-default .navbar-nav > li.active > a {
    background-color: white;
    color: #0097a7;
    outline: 0;
  }
}
.showInfoBtn {
  float: right;
  cursor: pointer;
}

.info {
  margin-bottom: 0px;
  margin-top: 15px;
  overflow: auto;
}

td {
  vertical-align: top;
}
@media only screen and (min-width: 760px), only screen and (min-device-width: 760px) {
  #gradient {
    width: 100vw;
    height: 100vh;
    margin-top: -70px;
    position: relative;
    opacity: 0.7;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
                    startColorstr='#000000', endColorstr='#000000', GradientType=1); /* IE6-9 */
  }
}
#black {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#home-main {
  display: none;
  border-radius: 1.5px;
  position: absolute;
  bottom: 1em;
  left: 17.5%;
}

#home-title {
  display: none;
  border-radius: 1.5px;
  position: absolute;
  top: 5em;
  left: 17.5%;
  background-color:rgba(0,0,0,0.5);
}


#home-resume {
  border-radius: 1.5px;
  display: inline-block;
  padding-bottom: 0px;
  background-color:rgba(0,0,0,0.5);
}

#home-info {
  border-radius: 1.5px;
  background-color:rgba(0,0,0,0.5);
}

.text {
  padding: 10px 10px 10px 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.05em;
}

#home-resume-text {
  padding-bottom: 0px;
}

#home-title-text {
  padding: 10px 10px 0 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
}

.download {
  text-decoration: none;
  font-size: 1.05em;
  margin-left: 5px;
  border: 2px solid #0097a7;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-family: 'Raleway', sans-serif;
  background-color:rgba(0,0,0,0.7);
  color: #0097a7;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.download:hover {
  text-decoration: none;
  background-color: #0097a7;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#titleDiv {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  border-bottom: 2px white solid;
  margin: 1vw 1vw 1vw 1vw;
}

.pwHeader {
  text-align: center;
  border-bottom: 2px darkgrey solid;
  padding-bottom: 2px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

.pwPanel {
  padding-top: 1px;
}

.pwInfo {
  width: 40%;
  display: inline-block;
  word-wrap: break-word;
  padding-top: 2px;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border-left: 2px solid #A9A9A9;
}

.pwImg {
  width: 60%;
  display: inline-block;
  float: left;
  //border-right: 2px darkgrey solid;
}

.pwVid {
  display: inline-block;
  float: left;
}

img {
  max-width: 100%;
}

.projectBtn {
  background-color: #0097a7;
  display: block;
  float: right;
  text-decoration: none;
  //font-size: 1.05vw;
  border: 2px solid #0097a7;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.projectBtn:hover, .projectBtn:focus {
  background-color: #00838f;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.pwBody {
  position: relative;
  overflow: auto;
}

.fa-link {
  color: dodgerblue;
}

.left-list {
  display: none;
  position: absolute;
  top: 0;
  width: 15%;
  float: left;
  text-align: center;
}

.list-item {
  padding: 10px 0 10px 0;
  width: 80%;
  font-size: 1em;
  margin-left: 5px;
  margin-bottom: 10px;
  border: 2px solid #0097a7;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  background-color:rgba(0,0,0,0.7);
  color: #0097a7;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.list-item:hover, .active-btn{
  background-color: #0097a7;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  -mozkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.list-item:focus {
  background-color: #0097a7;
  color: white;
}

.info-panel {
  position: absolute;
  top: 20%;
  left: 24%;
  width: 50%;
}

.info-table {
  border: 0px;
  width: 100%;
}

.panel-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.panel {
  display: none;
  font-size: 1.1em;
  color: white;
  font-family: "Raleway", sans-serif;
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0.7);
}

.date {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 14px 16px 0 0;
}

.job-ul {
  padding-left: 15px;
}

#me-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.me-panel {
  display: inline-block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 1.5px;
  position: absolute;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color:rgba(0,0,0,0.7);
  font-size: 1.2em;
  width: 50%;
  left: 25%;
}

#me-info {
  top: 6em;
}
#me-skills {
  bottom: 2em;
  font-size: 1em;
}

.pill {
  background-color: #0097a7;
  border-radius: 1.5px;
  color: white;
  padding: 2px 2px 2px 2px;
}

.mobile-list {
  display: none;
}

@media only screen and (max-width: 759px), only screen and (max-device-width: 769px) {
  body {
    overflow: hidden;
    padding-top: 70px;
    background-color: black;
    background-image: url("Mobile.gif");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
  }

  #gradient {
    visibility: hidden;
  }

  .nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar {
    background-color: transparent;
    border: none;
  }

  .navbar-toggle {
    background-color: white;
    border-color: black;
    color: white;
  }

  .navbar:focus {
    background-color: black;
  }

  .hiddenMobile {
    background-color: rgba(0, 0, 0, 0);
  }

  .activeMobile {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navbar-default .navbar-nav > li > a {
    color: #0097a7;
    font-size: 1.1em;
    border-top: 2px solid #0097a7;
    font-family: 'Raleway', sans-serif;
    outline: 0;
  }

  .navbar-default .navbar-nav > li.active > a {
    background-color: white;
    color: #0097a7;
    outline: 0;
    border: none;
  }

  #navbar-collapse-1 {
    border: none;
  }

  #home-main {
    display: none;
    border-radius: 1.5px;
    position: absolute;
    bottom: 1em;
    left: 0%;
  }

  #home-title {
    display: none;
    border-radius: 1.5px;
    position: absolute;
    top: 5em;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #home-resume {
    border-radius: 1.5px;
    display: inline-block;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #home-info {
    border-radius: 1.5px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .text {
    padding: 5px 5px 5px 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
  }

  #home-resume-text {
    padding: 10px 5px 10px 5px;
    margin-bottom: 0;
  }

  #home-title-text {
    padding: 5px 5px 0 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
  }

  .download {
    text-decoration: none;
    font-size: 0.95em;
    margin-left: 5px;
    border: 2px solid #0097a7;
    border-radius: 4px;
    display: inline-block;
    padding: 9px 5px 9px 5px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: #0097a7;
  }

  .left-list {
    height: 0px;
    visibility: hidden;
  }

  .mobile-list {
    padding-top: 10px;
    position: fixed;
    display: block;
    bottom: 0;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .list-item {
    padding: 10px 8px 10px 8px;
    width: auto;
    height: 50px;
    font-size: 0.8em;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid #0097a7;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: #0097a7;
    -webkit-transition-duration: 0.4s; /* Safari */
    -mozkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .panel {
    display: none;
    font-size: 0.9em;
    color: white;
    font-family: "Raleway", sans-serif;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .panel-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .info-panel {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
  }

  .pwHeader {
    text-align: center;
    border-bottom: 2px darkgrey solid;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
  }

  .pwPanel {
    padding-top: 1px;
  }

  .pwInfo {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    padding-top: 2px;
    padding-left: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    border-left: none;
  }

  .pwImg {
    display: none;
  }

  .pwVid {
    display: none;
  }

  #me-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .me-panel {
    display: inline-block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 1.5px;
    position: absolute;
    color: white;
    font-family: "Raleway", sans-serif;
    background-color:rgba(0,0,0,0.7);
    font-size: 0.9em;
    width: 100%;
    left: 0;
  }

  #me-info {
    top: 15%;
  }
  #me-skills {
    bottom: 0;
    font-size: 0.8em;
  }
}